#drum-machine {

  }
  
  .bton:active,.bton.playing {
   transform:scale(1.1)
  }
  .btn-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 10px;
    margin:auto;
  }
  .btn-list .btn {
    width: 30%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 14px;
  }