.main{
    margin-top: 10px;
}
.textBox{
   background-color:#212121 ;
   width:40%;
}
.textbox{
    width:40%;
    min-width: 300;
    font-size: 20px;
    min-width: 400px;
    background-image: url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
  background-repeat: repeat;
  -webkit-border-radius:12px;
  border-radius:12px;
 color:#212121;
}